<div class="slider p-sm-4 p-1 my-sm-4 my-3">
  <div class="container-lg">
    <div class=" single-item position-relative">
      <div class="img position-relative d-flex justify-content-sm-start justify-content-center">
        <img src="./assets/images/80.jpg" class="d-block w-100 h-100" alt="...">
        <div
          class="position-absolute top-0 h-100 d-flex flex-column justify-content-evenly align-items-start p-xl-5 p-sm-4 p-3 gap-1 mx-sm-5 mx-3">
          <h1 class="slide-banner-title text-black w-100 m-0 px-2 fw-bold">Скидки на травянные чаи</h1>
          <div class="slide-banner-text text-black px-2">Узнай все подробности, заполнив заявку</div>

          <a [routerLink]="'/catalogue'" (click)="goToCatalogue()" type="button" title="Перейти к каталогу"
             class="btn btn-primary btn-lg btn-sm mx-2 hvr-sweep-to-right border-0 col-lg-3 col-md-4 col-5">
            Каталог
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-grid gap-2">
    <div class="answers-tittle mb-5 text-center">
      <h2 class="fw-bold">Ответы на часто задаваемые вопросы</h2>
    </div>
<div class="border-0 mb-0" *ngFor="let question of questions; index as i">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-{{i}}" type="light" class=" btn bg-primary text-white d-flex text-center col-md-5 col-10 mb-1 justify-content-center align-items-center mx-auto">
    <ngb-panel  title="{{ question.question }}" id="ngb-panel-{{i}}" class="d-flex btn  text-white ">
      <ng-template ngbPanelContent>
        {{question.answer}}
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
</div>



