body {
  position: relative;
  height: 100%;
  min-height: 100vh;
}

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

.invalid-feedback {
  display: block;
}
.button .accordion-button {
  background-color: #0080FF;
}

.accordion-button {
  color: white;
  background-color: #0080FF;
  border-radius: 5px;
}
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: #0080FF;
  border-radius: 5px;
}
